################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.meta
/Library
/Logs
/obj/Debug
/ProjectSettings
/Temp
/UserSettings
/Packages
/Assets/Scenes
/.vs/Client/v16
/.vsconfig
/Assembly-CSharp.csproj
/Client.sln
